ansible-playbooks/vars/aws-deploy-gitlab-vars.yaml
ansible-playbooks/vars/aws-deploy-rh-idm-vars.yaml

cloudbees-core/vars.sh
cloudbees-core/configuration-as-code/kubernetes.yaml
cloudbees-core/configuration-as-code/openshift.yaml
cloudbees-core/configuration-as-code/rocketchat.yaml
cloudbees-core/groovy-scripts/create-credentials.groovy
cloudbees-core/groovy-scripts/configure-ldap.groovy

shared-resources/vars.sh